.container {
    padding: 1rem;
    
    justify-content: center;

}

.gridDiv {
    background: black;
    border: 5px solid black;
    max-width: 500px;
    min-height: 500px;
    margin: 2rem auto;
    display: grid;
    justify-content: center;
    gap: 2px;

}
.cell {

    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    background: white;

}
h1 {
    text-align: center;
}